VHDLscope/TOP*
VHDLscope/adc_sim*
VHDLscope/_ngo
VHDLscope/_xmsgs
VHDLscope/iseconfig
VHDLscope/xlnx_auto_0_xdb
VHDLscope/xst
VHDLscope/isim
*.html
*.ini 
*.xml 
*.log
*.cmd
*.xmsgs 
*.debug
*.lso
*.tcl
*.txt
*.pdf
VHDLscope/planAhead*
VHDLscope/ipcore_dir/tmp/*
local/*
.clangd
.vscode
